<!doctype html>
<html>
<head>
    <title>GJK Hodnocení školních obědů</title>
</head>
<body>
    <h1>GJK Hodnocení školních obědů</h1>
       <nav>
           <ul>
               <a href="/">Domů</a>
               <a href="/jidla/">Jídla</a>
               {% if user.is_authenticated %}
               <a href="/logout">Odhlásit se</a>
               {% else %}
                    <a href="/login">Přihlášení</a>
                {% endif %}
           </ul>
       </nav>


    {% block content %}

    {% endblock %}
</body>