{% extends "base.html" %}

{% block content %}
<br />
<h2 class="font-weight-bold">Dnešní jídla:</h2>
<br />
{% if weekend %}
    <h4>Dnes je víkend</h4>
{% endif %}


{% for food in food_list %}
    <h3><a href="{{ food.get_absolute_url }}">{{ food.title }}</a></h3>
    {% if food.average_rating == "nan"  %}
        <p>Nehodnoceno</p>
    {% else %}
        <p>{{ food.average_rating }}/5</p>
    {% endif %}
{% endfor %}

<br />
<h2 class="font-weight-bold">Nejlépe hodnocená jídla:</h2>
<br />

{% for food in highest_rated %}
    <h3><a href="{{ food.get_absolute_url }}">{{ food.title }}</a></h3>
    {% if food.average_rating == "nan"  %}
        <p>Nehodnoceno</p>
    {% else %}
        <p>{{ food.average_rating }}/5</p>
    {% endif %}
{% endfor %}


{% endblock %}
