{% extends "base.html" %}

{% block content %}
{% if reviewed_today  %}
<strong><p><div class="p-3 mb-2 bg-danger text-white">Už jste dnes hodnotil, znovu můžete až zítra.</div></p></strong>
{% endif %}

<br/>
<h2 class="font-weight-bold">Všechna jídla</h2>
<br/>
    {% for food in food_list %}
        <h3><a href="{{ food.get_absolute_url }}">{{ food.title }}</a></h3>
        {% if food.average_rating == "nan"  %}
            <p>Nehodnoceno</p>
        {% else %}
            <p>{{ food.average_rating }}/5</p>
        {% endif %}
    {% endfor %}
{% if food_list.has_previous %}
    <a href="?page=1">&laquo První&nbsp;</a>    
    <a href="?page={{ food_list.previous_page_number }}">&lt Předchozí</a>
{% endif %}

&nbsp;&nbsp;Strana {{ food_list.number }} z {{ food_list.paginator.num_pages }}&nbsp;&nbsp;

{% if food_list.has_next %}
    <a href="?page={{ food_list.next_page_number }}"> Další &gt;&nbsp;</a>
    <a href="?page={{ food_list.paginator.num_pages }}"> Poslední &raquo</a>
{% endif %}

{% endblock %}
