{% extends "base.html" %}
{% load static %}

{% block content %}

{% if reviewed_today %}
    <strong><p><div class="p-3 mb-2 bg-danger text-white">Už jste dnes hodnotil, znovu můžete až zítra.</div></p></strong>
{% endif %}

<h2><strong>{{ food.title }}</strong></h2>
    <div class="row no-gutters">
      <div class="col-sm-3">
        {% if food.picture %}
            <img src="{{ food.picture.url }}" width="200" class = "img-thumbnail float-left">
        {% else %}
            <img src="{% static 'reviews/images/0320.jpg' %}" width="250" class = "img-thumbnail">
        {% endif %}
        
        </div>
      <div class="col-sm">
        <br/>
        <h4>
        {% if food.average_rating == "nan"  %}
            <strong>Hodnocení: </strong>Nehodnoceno
        {% else %}
            <strong>Hodnocení: </strong>{{ food.average_rating }}/5
        {% endif %}
        </h4>
        <h4><strong>Tagy:</strong> {% for tag in food.tags.all %}
            <span class="border rounded"><a href="{{ tag.get_absolute_url }}" class="text-secondary">{{ tag }}</a></span>&nbsp;
        {% endfor %}
            </h4>
        </div>
    </div>

<br/>
{% if user.is_authenticated %}
    {% if not reviewed_today %}
        <br/>
        <div class="form-group" >
        <form action="{% url 'food_reviews' food.id %}", method="POST">
            {% csrf_token %} 
            {{ form.as_p }}
            <button type="submit" name="Save">Přidat komentář</button>
        </div>
    {% endif %}

{% else %}
    <strong><p><div class="text-info">Pro hodnocení se musíte přihlásit</div></p></strong>
{% endif %}

<br/>
<h4><strong>Všechna hodnocení</strong></h4>

{% for review in review_list %}
    <hr class="hr" />
    <h4>{{ review.author_name }} | <span class="text-secondary">{{ review.published_date|date:'d.m.Y' }}</span></h4>
    <h5>Hodnotil: {{ review.ratings }} z 5</h5>
    <p>{{ review.comment }}</p>
{% endfor %}


{% endblock %}
