{% extends "base.html" %}

{% block content %}
<h2><strong>{{ food.title }}</strong></h2>
{% if food.picture %}
    <img src="{{ food.picture.url }}" width="200">
{% endif %}
<h4>Hodnocení: {{ food.average_rating }}/5</h4>


{% if user.is_authenticated %}
    <form action="{% url 'food_reviews' food.id %}", method="POST">{% csrf_token %} 
            <div class="form-group">
                    {{ form.as_p }}
                <button type="submit" name="Save">Přidat komentář</button>
            </div>
    </form>
{% else %}
    <p>Pro hodnocení se musíte přihlásit</p>
{% endif %}

{% for review in review_list %}
    <h4>{{ review.author_name }} | {{ review.published_date }}</h4>
    <h5>{{ review.ratings }} z 5</h5>
    <p>{{ review.comment }}</p>
{% endfor %}


{% endblock %}
